{% load mobile_bg %}

<table class="table table-sm">
    <thead>
    <tr>
        <th></th>
        <th>Model</th>
        <th>Initial price</th>
        <th>Last price</th>
        {% if ads|any_ad_inactive %}
            <th>Last active</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for ad in ads %}
        <tr>
            <td>
                <img src="{% url 'mobile_bg:ad_image' ad.adv 1 'big' %}" width="64" height="48">
            </td>
            <td>
                <a href="{{ ad.url }}">
                    {{ ad.last_active_update.model_name }}
                    {% if ad.last_active_update.model_mod %}
                        {{ ad.last_active_update.model_mod }}
                    {% endif %}
                </a>
                <br>
                {{ ad.last_active_update.registration_date.year }} г.,
                {% if ad.last_active_update.power_hp %}
                    {{ ad.last_active_update.power_hp }} к.с.
                {% endif %}
                {% if ad.last_active_update.transmission_type %}
                    {{ ad.last_active_update.get_transmission_type_display }}
                {% endif %}
                {% if ad.last_active_update.mileage_km %}
                    {{ ad.last_active_update.mileage_km }} км
                {% endif %}
            </td>
            <td>
                {{ ad.first_update.price }}
            </td>
            <td>
                {{ ad.last_active_update.price }}
            </td>
            {% if not ad.active %}
                <td>
                    {{ ad.last_active_update.date }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
