<table class="table table-sm">
    <thead>
    <tr>
        <th></th>
        <th>Model</th>
        <th>Initial price</th>
        <th>Last price</th>
        {% if not ad.active %}
            <th>Last active</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for ad in ads %}
        <tr>
            <td>
                <img src="{% url 'mobile_bg:ad_image' ad.adv 1 'big' %}" width="60" height="45">
            </td>
            <td>
                <a href="{{ ad.url }}">
                    {{ ad.first_update.model_name }}
                    {{ ad.first_update.model_mod }}
                </a>
            </td>
            <td>
                {{ ad.first_update.price }}
            </td>
            <td>
                {{ ad.last_active_update.price }}
            </td>
            {% if not ad.active %}
                <td>
                    {{ ad.last_active_update.date }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
