{% extends 'bootstrap_shell.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Model</th>
                </tr>
                </thead>
                <tbody>
                {% for car in last_price_changes %}
                    <tr>
                        <td>
                            <img src="{% url 'mobile_bg:ad_image' car.adv 1 'big' %}"
                                 width="100" height="75">
                        </td>
                        <td>
                            <a href="{{ car.url }}">
                                {{ car.first_update.model_name }}
                                {{ car.first_update.model_mod }}
                            </a>
                        </td>
                        <td>
                            {{ car.first_update.price }}
                        </td>
                        <td>
                            {{ car.last_update.price }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
